        /*
The CSS code gets to executed from top to bottom and left ro right

Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/
        /* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

        * {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
            box-sizing: border-box;
            /*reset Chrome user agent styles*/
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-before: 0px;
            -webkit-padding-after: 0px;
            -webkit-padding-start: 0px;
            -webkit-padding-end: 0px;
            /*reset Firefox user agent styles*/
            -moz-margin-before: 0px;
            -moz-margin-after: 0px;
            -moz-margin-start: 0px;
            -moz-margin-end: 0px;
            -moz-padding-before: 0px;
            -moz-padding-after: 0px;
            -moz-padding-start: 0px;
            -moz-padding-end: 0px;
            /*reset Internet Explorer user agent styles*/
            -ms-margin-before: 0px;
            -ms-margin-after: 0px;
            -ms-margin-start: 0px;
            -ms-margin-end: 0px;
            -ms-padding-before: 0px;
            -ms-padding-after: 0px;
            -ms-padding-start: 0px;
            -ms-padding-end: 0px;
            /*reset Opera user agent styles*/
            -o-margin-before: 0px;
            -o-margin-after: 0px;
            -o-margin-start: 0px;
            -o-margin-end: 0px;
            -o-padding-before: 0px;
            -o-padding-after: 0px;
            -o-padding-start: 0px;
            -o-padding-end: 0px;
        }
        /* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background: -webkit-linear-gradient(left, orange, white);
}


h1,
.coffee-name,
footer {
    font-family: 'Merriweather', serif;
    color: rgb(148, 0, 4);
}




        /* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
#coffee-header-footer {
    height: 100px;
    background-image: url(images/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

h1,
header .intro {
    text-align: center;
    padding: 0 1rem;
}

header .intro {
    font-size: 1.75rem;
}

        /* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

        #coffee-selection-wrapper {
            cursor: pointer;
            width: 60%;
            margin: 0 auto;
            text-align:center;
        }

        #coffee-selection-wrapper li {
            margin: 1%;
            padding: 1rem;
            width: 48%;
            display: inline-block;
            vertical-align: top;
            border: 1px solid grey;
            border-radius: 5px;
            text-align: left;
        }

        #coffee-selection-wrapper li:hover {
            box-shadow: 5px 5px 5px grey;
        }

        .coffee-description,
        .coffee-location,
        .coffee-details {
            font-family: 'Dosis', sans-serif;
        }

        .coffee-name,
        .coffee-description,
        .coffee-details {
            margin-top: 5px;
            padding: 10px 0;
        }

        .coffee-name,
        .coffee-location {
            font-size: 2.5rem;
        }

        .coffee-image {
            float: right;
            width: 40%;
            height: 200px;
            margin: 5px;
            margin-left: 1rem;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 10px;
            box-shadow: 0px 0px 15px #666;
        }

        .coffee-description {
            height: 145px;
            overflow-y: auto;
            font-size: 1.75rem;
        }

        /*more styles for coffee-type, description, details, image??*/
        /*jquery pop-up styles*/

        .well,
        #slide h4,
        .google-map-wrapper,
        #slide p,
        #slide .youtube-wrapper,
        #slide .youtube-item {
            text-align: center;
        }

        .well {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            margin: 1em;
        }

        #slide h4,
        #slide .bold-word {
            font-family: 'Miltonian Tattoo', cursive;
            color: rgb(148, 0, 4);
        }

        #slide h4 {
            font-size: 3rem;
        }

        #slide_background {
            transition: all 0.3s 0.3s;
        }

        #slide,
        #slide_wrapper {
            transition: all 0.3s ease-out;
        }

        #slide {
            transform: translateX(0) translateY(-40%);
        }

        .popup_visible #slide {
            transform: translateX(0) translateY(0);
            max-width: 500px;
            width: 60%;
        }

        .google-map-wrapper,
        #slide p,
        #slide .btn {
            font-family: 'Oswald', sans-serif;
        }

        #slide .google-map {
            font-size: 2.6rem;
        }

        #slide p {
            margin-top: 2rem;
            border-bottom: 1px solid black;
            margin-right: 2rem;
            margin-left: 2rem;
            font-size: 2rem;
        }

        #slide .youtube-wrapper {
            list-style: none;
        }

        #slide .youtube-item {
            display: block;
            width: 100%;
        }

        #slide img {
            max-width: 80%;
            margin: 0 auto;
            border-radius: 10px
        }

        #slide img:hover {
            box-shadow: 5px 5px 5px grey;
        }

        #slide .btn {
            display: block;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            font-size: 2rem;
        }

        .wikipedia-wrapper h3 {
            text-align: center;
        }

        .wikipedia-wrapper .item a {
            text-align: justify;
        }
        /* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

        footer {
            text-align: center;
            margin-top: 75px;
        }

        footer p,
        footer #links {
            display: inline-block;
            padding: 0 1rem;
        }

        footer p,
        footer a {
                    font-size: 1.5rem;
                }

        footer a {
            color: #1f160d;
            text-decoration: none;
        }

        footer a:hover {
            font-weight: bolder;
        }

        /* -------------------------------------
place all the desktop styles above this line

Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)

place all the mobile tables styles bellow this line
*/

        @media only screen and (max-width: 1200px) {
            #coffee-selection-wrapper {
                display: block;
                width: 70%;
            }
            .coffee-selection-wrapper li {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            .coffee-image {
                display: block;
                width: 90%;
                margin-top: 1rem;
                margin-left: auto;
                margin-right: auto;
                float: none;
            }
        }

        @media only screen and (max-width: 800px) {
            #coffee-header {
                font-size: 1.75rem;
            }
            #coffee-selection-wrapper li {
                width: 90%;
            }
        }

        @media only screen and (max-width: 640px) {
            #coffee-selection-wrapper {
                width: 90%;
            }
            main .intro {
                font-size: 2.5rem;
            }
            #slide .btn {
                font-size: 1.35rem;
            }
        }
